

table {
	width: 100%;
}

th {
	text-align: left;
	font-size: x-large;
}

.pokemon-name {
	color: #4ade80;
}

.pokemon-type {
	color: #0ea5e9;
}

.pokemon-name, .pokemon-type {
	padding: 4px;
	cursor: pointer;
	transition: background-color .3s;
	border-radius: 10px;
}

.pokemon-name:hover,
.pokemon-type:hover {
	background-color: rgba(211, 211, 211, 0.257);
}

